In [10]:
import pandas as pd
import numpy as np
import ResultToolbox as rt
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 2.4 MB/s
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8915 sha256=b56022008b61b53ca42eeaf912b0fe20899adac840f27aa5017d605565be476e
  Stored in directory: /Users/samypalaniappan/Library/Caches/pip/wheels/e2/bd/55/048b4fd505716c4c298f42ee02dffd9496bb6d212b266c7f31
Successfully built et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

# Reykjanes Results

In [2]:
df_Reykjanes=pd.read_csv("Full_System\Reykjanes\Results_ReykjanesDeep10000.0.csv")

col_list=[c for c in df_Reykjanes.columns if '_3' in c]
for c in col_list:
    df_Reykjanes[c+'_g_s']=df_Reykjanes[c]*df_Reykjanes['q']*1e-3

col_list=[c for c in df_Reykjanes.columns if '_5' in c]
for c in col_list:
    df_Reykjanes[c+'_g_s']=df_Reykjanes[c]*df_Reykjanes['q']*1e-3
    
stat_Reykjanes_Results=df_Reykjanes.describe().transpose().applymap(lambda x: rt.RoundToSigFigs_fp( x, 3 ))

In [3]:
stat_Reykjanes_Results.style.applymap(lambda x: "{:3.2f}".format(x) if 0.1 < x else "{:3.2e}".format(x)  )
stat_Reykjanes_Results.to_excel("Full_System\Reykjanes\Statistical_Reykjanes_Results.xlsx")

# Balmatt Results

In [7]:
df_balmatt=pd.read_csv("Full_System/Balmatt/Results_Balmatt10000.0.csv")

col_list=[c for c in df_balmatt.columns if '_3' in c]
for c in col_list:
    df_balmatt[c+'_g_s']=df_balmatt[c]*df_balmatt['q']*1e-3

col_list=[c for c in df_balmatt.columns if '_5' in c]
for c in col_list:
    df_balmatt[c+'_g_s']=df_balmatt[c]*df_balmatt['q']*1e-3

stat_balmatt_Results=df_balmatt.describe().transpose().applymap(lambda x: rt.RoundToSigFigs_fp( x, 3 ))
stat_balmatt_Results.head()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,10000.0,5000.00,2890.000,0.00,2500.00,5000.00,7500.00,10000.00
t,10000.0,120.00,1.700,115.00,118.00,120.00,121.00,123.00
p,10000.0,1.96,0.103,1.69,1.89,1.98,2.05,2.17
ph,10000.0,5.40,0.115,5.20,5.30,5.40,5.50,5.60
q,10000.0,35.00,7.070,16.20,30.00,35.90,40.20,49.90

In [11]:
stat_balmatt_Results.style.applymap(lambda x: "{:3.2f}".format(x) if 0.1 < x else "{:3.2e}".format(x))
stat_balmatt_Results.to_excel("Full_System/Balmatt/Statistical_Balmatt_Results.xlsx")
#stat_balmatt_Results.head()

# Landau Results

In [6]:
df_landau=pd.read_csv("Full_System\Landau\Results_landau10000.0.csv")

col_list=[c for c in df_landau.columns if '_3' in c]
for c in col_list:
    df_landau[c+'_g_s']=df_landau[c]*df_landau['q']*1e-3

col_list=[c for c in df_landau.columns if '_5' in c]
for c in col_list:
    df_landau[c+'_g_s']=df_landau[c]*df_landau['q']*1e-3

stat_landau_Results=df_landau.describe().transpose().applymap(lambda x: rt.RoundToSigFigs_fp( x, 3 ))

In [7]:
stat_landau_Results.style.applymap(lambda x: "{:3.2f}".format(x) if 0.1 < x else "{:3.2e}".format(x)  )
stat_landau_Results.to_excel("Full_System\Landau\Statistical_landau_Results.xlsx")

# Cornwall Results

In [13]:
df_cornwall=pd.read_csv("Full_System\Cornwall\Results_Cornwall10000.0.csv")

col_list=[c for c in df_cornwall.columns if '_3' in c]
for c in col_list:
    df_cornwall[c+'_g_s']=df_cornwall[c]*df_cornwall['q']*1e-3

col_list=[c for c in df_cornwall.columns if '_5' in c]
for c in col_list:
    df_cornwall[c+'_g_s']=df_cornwall[c]*df_cornwall['q']*1e-3

stat_cornwall_Results=df_cornwall.describe().transpose().applymap(lambda x: rt.RoundToSigFigs_fp( x, 3 ))

In [14]:
stat_cornwall_Results.style.applymap(lambda x: "{:3.2f}".format(x) if 0.1 < x else "{:3.2e}".format(x)  )
stat_cornwall_Results.to_excel("Full_System\Cornwall\Statistical_cornwall_Results.xlsx")

# Romanian Results

In [10]:
df_romania=pd.read_csv("Full_System\Romania\Results_Romania10000.0.csv")

col_list=[c for c in df_romania.columns if '_3' in c]
for c in col_list:
    df_romania[c+'_g_s']=df_romania[c]*df_romania['q']*1e-3

col_list=[c for c in df_romania.columns if '_5' in c]
for c in col_list:
    df_romania[c+'_g_s']=df_romania[c]*df_romania['q']*1e-3

stat_romania_Results=df_romania.describe().transpose().applymap(lambda x: rt.RoundToSigFigs_fp( x, 3 ))

In [11]:
stat_romania_Results.style.applymap(lambda x: "{:3.2f}".format(x) if 0.1 < x else "{:3.2e}".format(x)  )
stat_romania_Results.to_excel("Full_System\Romania\Statistical_Romania_Results.xlsx")